<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title><%= title %></title>

  <!-- CSS  -->
  <link href="http://cdn.bootcss.com/material-design-icons/2.0.0/iconfont/style.min.css" rel="stylesheet">
  <link href="bower_components/Materialize/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- 正文内容 -->
  <div class ="light-blue darken-3">
    <br>
    <div class ="container">
        <canvas id="canvas"  height="200" width="450"></canvas>
        <div class="light-blue darken-3 center white-text">预测准确率</div>
    </div>
    <br>
  </div>

  <div>
    <div class="row"></div>
    <div class="row">
      <div class="col s6 center">沪深300<h4><%= trueValue %></h4></div>
      <div class="col s6 center">模型预测<h4><%= preValue %></h4></div>
    </div>
  </div>
  <div class="row center">
    <% if(tradeAble){ %>
      <button id = "up" class="btn waves-effect waves-light red lighten-1">猜涨</button>
      <button id = "down" class="btn waves-effect waves-light  lighten-1">猜跌</button>
    <% }else{%>
      <p class="grey-text"> 非交易日</p>
    <% }%>
  </div>


      <!-- 历史投资记录 -->
  <ul id = "history" class="collection with-header">
    <li class="row collection-item">
        <div class="col s4 ">历史日期</div>
        <div class="col s4 center">沪深300</div>
        <div class="col s4 center">模型预测</div>
      </div>
    </li>
  </ul>


  <!--  Scripts-->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/Chart.js/Chart.min.js"></script>
  <script src="bower_components/Materialize/dist/js/materialize.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
